._center-ver-hor {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items: center;
}

._center-ver {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
}
