._center-ver-hor, .event-row > .action, .header-section > .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

._center-ver, .datetime-detail, .date-detail > .icon, .event-details > .description, .event-details > .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

body {
  margin: 0px;
  padding: 0px;
}

.events-container {
  background-color: #eaecebff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  padding: 0px 30px;
}
.events-container > .fullcalendar {
  background-color: #c41f22ff;
  color: white;
  padding: 15px 40px 15px 35px;
  border: none;
  font-size: 0.9rem;
  margin: 1.5rem 0px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
.events-container > .fullcalendar::after {
  content: "";
  position: absolute;
  margin: 5px 0px 0px 5px;
  border: 4px solid;
  border-color: transparent transparent transparent white;
}

.header-section {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.header-section > .icon {
  font-size: 2.5rem;
  margin: 0px 10px;
}
.header-section > .title {
  font-size: 2rem;
}

.events-list {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.event-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 114px;
  width: 100%;
  margin: 0px 0px 20px 0px;
  position: relative;
}
.event-row > .action {
  position: absolute;
  right: -20px;
  text-decoration: none;
  background-color: #c41f22ff;
  border-radius: 50%;
  padding: 10px;
  color: white;
  width: 30px;
  height: 30px;
}

.date-resume {
  text-align: center;
  background-color: #3257a7ff;
  color: white;
  padding: 10px 25px;
  line-height: 0px;
  min-width: 50px;
}
.date-resume > .day {
  font-size: 2.5rem;
}
.date-resume > .month {
  font-size: 0.9rem;
}

.event-details {
  display: flex;
  border: 2px solid #3257a7ff;
  height: 100%;
  margin-left: 20px;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  padding: 10px 0px;
}
.event-details > .title {
  font-size: 1.2rem;
  width: 35%;
  margin: 0px;
  padding: 10px 20px 10px 0px;
  font-weight: normal;
  width: 35%;
  padding: 0px 20px 0px 30px;
}
.event-details > .description {
  width: 35%;
  padding: 0px 20px 0px 30px;
}
.event-details .separator {
  height: 50%;
  border: 1px solid #3257a7ff;
  top: 25%;
  position: relative;
}

.date-detail {
  display: flex;
  flex-direction: row;
  width: 35%;
  padding: 0px 20px 0px 30px;
}
.date-detail > .icon {
  flex-grow: 1;
  font-size: 1.5rem;
}

.datetime-detail {
  flex-grow: 4;
  padding-left: 15px;
}
.datetime-detail > .day {
  margin: 0px;
}
.datetime-detail > .time {
  margin: 0px;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .events-container > .fullcalendar {
    padding: 15px 0px 15px 0px;
    text-align: center;
    width: 100%;
  }

  .header-section > .title {
    font-size: 2rem;
  }

  .event-row {
    height: auto;
    flex-direction: column;
    width: 100%;
  }
  .event-row > .action {
    top: 40px;
  }

  .date-resume {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
    padding: 25px 0px;
    border-box: box-sizing;
  }
  .date-resume > .day {
    font-size: 1.8rem;
    margin: 0px 5px 0px 15px;
  }
  .date-resume > .month {
    margin: 0px;
    padding-top: 4px;
    align-self: flex-end;
  }

  .event-details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 20px 40px;
    line-height: 1.6rem;
  }
  .event-details .separator {
    border: 0px;
  }
  .event-details > .title {
    padding: 0px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .event-details > .description {
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
  }

  .date-detail {
    padding: 0px;
    width: 100%;
    justify-content: center;
  }
  .date-detail > .icon {
    margin: 0px;
    padding: 0px;
    flex-grow: 0;
    font-size: 0.9rem;
  }

  .datetime-detail {
    flex-grow: 0;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
  }
  .datetime-detail > .day {
    margin: 0px 5px;
  }
}
@media only screen and (max-width: 480px) {
  .header-section > .title {
    font-size: 1.4rem;
    margin: 30px 0px;
  }
  .header-section > .icon {
    font-size: 1.7rem;
  }

  .event-details {
    padding: 20px 10px;
  }
}
@media only screen and (max-width: 320px) {
  .header-section > .title {
    font-size: 1.2rem;
  }

  .event-details {
    padding: 20px 10px;
  }

  .date-detail > .icon {
    align-self: flex-end;
    padding-bottom: 5px;
  }

  .datetime-detail {
    flex-wrap: wrap;
    width: 70%;
  }
}

/*# sourceMappingURL=index.css.map */
